
@{
    ViewBag.Title = "CreateATrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateATrip</h2>

<p>TODO:</p>
<ul>
    <li>Add Sabre API</li>
    <li>Add option to fly or drive</li>
    <li>route to either embedded google map or Sable Travel by theme</li>
</ul>








