
@{
    ViewBag.Title = "CreateFlyingTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You're leaving, on a jet plane</h2>

<ul>

    <li>Add Sabre API</li>
    <li>route to either embedded google map or Sable Travel by theme</li>
</ul>