@model TripSplit.Models.CreateFlyingTripViewModel
@{
    ViewBag.Title = "CreateFlyingTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You're leaving, on a jet plane...</h1>

@* CAN ONLY REQUEST FLIGHTS THAT ARE 6 MONTHS OUT. EXAMPLE:AT THE TIME THAT THIS APPLICATION WAS MADE (3/22/17) CANNOT REQUEST ANY FLIGHTS THAT ARE SCHEDULED IN OCTOBER (10/01/2017) RIGHT NOW. *@
@* CAN ONLY REQUEST TRIPS THAT ARE 16 DAYS LONG, ANY LONGER THAN THAT WILL THROW AN ERROR *@

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" method="post">
            <fieldset>
                <legend>Enter Details</legend>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Origin</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="originInput" required>
                            <option></option>
                            <option value="ORD">Chicago O'Hare</option>
                            <option value="MDW">Chicago Midway</option>
                            <option value="MKE">General Mitchell International</option>
                            <option value="JFK">John F. Kennedy International</option>
                            <option value="LAX">Los Angeles International</option>
                            <option value="MCO">Orlando International</option>
                            <option value="SFO">San Francisco International</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Destination</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="destinationInput" required>
                            <option></option>
                            <option value="ORD">Chicago O'Hare</option>
                            <option value="MDW">Chicago Midway</option>
                            <option value="MKE">General Mitchell International</option>
                            <option value="JFK">John F. Kennedy International</option>
                            <option value="LAX">Los Angeles International</option>
                            <option value="MCO">Orlando International</option>
                            <option value="SFO">San Francisco International</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Departure</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" name="departureDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Return</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" name="returnDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input name="endpointName" type="hidden" value="Air Search" class="form-control">
                        <input name="methodName" type="hidden" value="InstaFlights Search" class="form-control">
                        <input name="httpMethod" type="hidden" value="GET" class="form-control">
                        <input name="methodUri" type="hidden" value="/v1/shop/flights" class="form-control">
                        <input name="Cost" id="cost" type="hidden" value="/v1/shop/flights" class="form-control">

                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-6">
        <img src="~/Content/PlaneCollage.jpg" alt="explorebook" width="600" height="550">
    </div>

</div>



@*<h2>Url</h2>
    @ViewBag.url
    <hr />*@
<h2>Flight Data</h2>
<a class="btn btn-default" href="http://localhost:2437/User/CreateFlyingTrip">Fly &raquo;</a>
<div id="FlightInfo"></div>
@*@ViewBag.data*@

<script>


    //Figure out how to display data on the page.

    var data = @Html.Raw(Json.Encode(@ViewBag.data));
    var dataobject = JSON.parse(data);


    var flightArray = dataobject.PricedItineraries;

    for(var flight in flightArray)
    {
        //Flights To Location
        var firstFlightNumber = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].FlightNumber;
        var firstDepartureTime = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].DepartureDateTime;
        var firstArrivalTime = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].ArrivalDateTime;

        //Flights Back From Location
        var secondFlightNumber = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].FlightNumber;
        var secondDepartureTime = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].DepartureDateTime;
        var secondArrivalTime = flightArray[flight].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].ArrivalDateTime;

        //Total ticket price for one customer
        var totalFare = flightArray[flight].AirItineraryPricingInfo.ItinTotalFare.TotalFare.Amount;

        //Seats remaining (past MVP)
        //var seatsRemaining = dataobject.PricedItineraries[0].AirItineraryPricingInfo.FareInfos.FareInfo[0].TPA_Extensions.SeatsRemaining.Number;


        document.getElementById('FlightInfo')
        document.getElementById('FlightInfo').innerHTML += '<table class="table table-bordered table-hover" style="margin-top: 12px"><tr><th>Flight Number</th><th>Departure Time</th><th>Arrival Time</th><th>Ticket Price</th><th>Returning Flight Number</th><th>Returning Flight Departure Time</th><th>Returning Flight Arrival Time</th></tr><tr><td>' + firstFlightNumber + '</td><td>' + firstDepartureTime + '</td><td>' + firstArrivalTime + '</td><td name="Cost">$' + totalFare + '</td><td>' + secondFlightNumber + '</td><td>' + secondDepartureTime + '</td><td>' + secondArrivalTime + '</tr></table><br/><br>';
    }

    ////Flights To Location
    //var firstFlightNumber = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].FlightNumber;
    //var firstDepartureTime = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].DepartureDateTime;
    //var firstArrivalTime = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment[0].ArrivalDateTime;

    ////Flights Back From Location
    //var secondFlightNumber = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].FlightNumber;
    //var secondDepartureTime = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].DepartureDateTime;
    //var secondArrivalTime = dataobject.PricedItineraries[0].AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment[0].ArrivalDateTime;

    ////Total ticket price for one customer
    //var totalFare = dataobject.PricedItineraries[0].AirItineraryPricingInfo.ItinTotalFare.TotalFare.Amount;

    

    //document.getElementById('FlightInfo')
    //document.getElementById('FlightInfo').innerHTML += '<table class="table table-bordered table-hover"><tr><th>Flight Number</th><th>Departure Time</th><th>Arrival Time</th><th>Ticket Price</th><th>Returning Flight Number</th><th>Returning Flight Departure Time</th><th>Returning Flight Arrival Time</th></tr><tr><td>' + firstFlightNumber + '</td><td>' + firstDepartureTime + '</td><td>' + firstArrivalTime + '</td><td name="Cost">$' + totalFare + '</td><td>' + secondFlightNumber + '</td><td>' + secondDepartureTime + '</td><td>' + secondArrivalTime + '</tr></table><br/><br>';
    //document.getElementById("cost").value = totalFare;



</script>