@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>TripSplit is the new and improved way to travel inside the U.S. The process is simple:</p>

<ul>
    <li>Create your profile</li>
    <li>Search trips or create your own</li>
    <li>If you find a trip you like, join it and an email will be sent</li>
    <li>If you create a trip, wait for it to be split</li>
</ul>
<br/><br/>
<p>Below is an example of the User Agreement</p>

<h3>Trip Name: </h3>

<ul>
    <li>Starting Location: </li>
    <li>Ending Location : </li>
    <li>Trip Type:</li>
    <li>Flight Number:</li>
    <li>Cost: $</li>
</ul>

<p>The following TripSplit's agree to the following terms.</p>
<p>User1:</p>


    <h4>TERM</h4>
    <p>1. The term of this agreement begins on: <strong>@DateTime.Now.DayOfWeek, @DateTime.Now.Day @DateTime.Now.Year</strong></p>
    <h4>COST OF TRIP</h4>
    <p>2. The cost of the trip is <strong>$</strong>.</p>
    <p>3. All TripSplit's agree that if any act or failure to act by any of them results in any late fees or costs for failure to pay their portion, will be responsible for all costs and fees of the Splitters who paid on time.</p>
    <h4>TRIP RULES</h4>
    <p>4. All TripSplit's agree to act reasonably in their dealings with each other and to refrain from any behavior, action or inaction that they know, or reasonably out to know, will interfere with other TripSplit's quiet enjoyment. All TripSplit's agree to discuss concerns frankly and in a timely manner, and to refrain from emotional outbursts. Should negotiation become necessary, all TripSplit's agree to negotiate in good faith. All TripSplit's agree to respect each others' property, privacy and sleep schedules and to comply with all reasonable requests whereever possible.</p>

    <p>We, the undersigned, herby indicate by our signatures below that:</p>

    <ul>
        <li>we have read this full agreement;</li>
        <li>we understand all it contains; and</li>
        <li>we agree to be bound by its terms and conditions.</li>
    </ul>
