@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    One Jupiter Way<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Let me know what you think:</strong><a href="mailto:alexedmondson20@gmail.com"> Support and suggestions</a><br />
</address>