@{
    ViewBag.Title = "Home Page";
}

 <div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:285px">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/TripSplitBanner.jpg" alt="explorebook">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <center><h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:40px">Welcome</h2></center>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:18px">
            Create a profile and search some of the existing trips that are taking place right now or log in to keep on splitting!
        </p>
        <center>
            <a class="btn btn-default" href="http://localhost:2437/Account/Register">Register &raquo;</a>
            <a class="btn btn-default" href="http://localhost:2437/Account/Login">Login &raquo;</a>
        </center>
    </div>
    <div class="col-md-4">

    </div>
</div>   


